body {
  background-color: brown;
}

h3 {
  color: aqua;
  font-size: 30px;
  text-decoration: overline underline black wavy;
  word-spacing: 15px;
  text-shadow: 3px 3px 8px gold;
}
h3:hover {
  font-size: 50px;
  text-shadow: 3px 3px 15px purple;
   font-variant: small-caps;
}
img{
  width:40%;
  border-radius: 80%;
  
}
img:hover {
  width: 50%;
}
