body {
  background-color: silver;
}
h3 {
  color: black;
  font-size: 40px;
  text-decoration: underline black wavy;
  word-spacing: 15px;
  text-shadow: 3px 3px 8px yellow;
}
h3:hover {
  font-size: 50px;
  text-shadow: 3px 3px 8px gold;
   font-variant: small-caps;
}
img{
  width:40%;
  height:70%;
  border-radius: 60%;
